.DS_Store
.fake
.idea
.ionide
.vs/
.vscode
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleases/
*.*~
*.pyc
*.sln.docstates
*.suo
*.swp
*.user
*.userosscache
bld/
build/
msbuild.err
msbuild.log
msbuild.wrn
nupkg/
project.lock.json
x64/
x86/
src/Parser/YaccParser.fs
src/Parser/YaccParser.fsi
src/Parser/Lexer.fs
